/scientific-calculator/Release
/scientific-calculator/scientific-calculator/Release

/scientific-calculator/Debug
/scientific-calculator/scientific-calculator/Debug

/scientific-calculator/x64
/scientific-calculator/scientific-calculator/x64

/scientific-calculator/scientific-calculator/settings.json
.vs/
